version: 2.1

jobs:
  build_windows:
    machine:
      image: windows-default
    steps:
      - checkout
      - run: Write-Host 'Hello, Windows'

  build_machine:
    machine: true
    steps:
      - checkout
      - run: echo 'Hello, Machine'

workflows:
  version: 2
  build_all:
    jobs:
      - build_windows
      - build_machine