version: 2.1

jobs:
  build_windows:
    machine:
      image: windows-default
    resource_class: windows.medium 
    steps:
      - checkout
      - run: echo 'Hello, Windows'
      - run: uname -a

  build_machine:
    machine: true
    steps:
      - checkout
      - run: echo 'Hello, Machine'
      - run: uname -a

workflows:
  version: 2
  build_all:
    jobs:
      - build_windows
      - build_machine